.home-banner {
  background-image: asset-url('banner_movie_list.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  width: 100%;
  background-position: center;
  padding: 150px 0;
}
